<div>
  <div class="row mb-2">
    <nz-steps [nzCurrent]="0" nzSize="small">
      <nz-step nzTitle="Fiche d'identité"></nz-step>
      <nz-step nzTitle="Gérants"></nz-step>
      <nz-step nzTitle="Co-Gérants"></nz-step>
      <nz-step nzTitle="Représentant ANRF"></nz-step>
      <nz-step nzTitle="Suppléant ANRF"></nz-step>
    </nz-steps>
  </div>
<br>
<br>
<br>

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="identificationNumber">N° Identification</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input id="identificationNumber" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="rs" nzRequired>Raison Sociale</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="text"
              id="rs"
              formControlName="rs"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="rc">RC</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="rc" id="rc" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cs" nzRequired>Capital social</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="text"
              id="cs"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="centre">Centre</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input id="centre" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="formJuri" nzRequired>Forme Juridique</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="text"
              id="formJuri"
              formControlName="formJuri"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="statut">Statut</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input id="statut" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor=adresse nzRequired>Adresse du SC</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="text"
              id="adresse"
              formControlName="adresse"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="statut">Statut</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input id="statut" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>E-Mail de la société</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input
              nz-input
              type="text"
              id="email"
              formControlName="email"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>



    <div class="row mt-4">
      <div class="col-md-6">
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Suivant</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

</div>
